body{
    font-size: 16px;
    font-family: "Outfit";
    background-color: hsl(30, 54%, 90%);
    background-size: cover;
    min-height: 100vh;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Young-Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

.titulos-topicos {
    font-family: "Young-Serif";
    color: hsl(14, 45%, 36%);
    letter-spacing: 2px;
}

.titulos{
    font-family: "Young-Serif";
    color: hsl(332, 51%, 32%);
}

.titulo-preparo{
    font-family: "Young-Serif";
    color: hsl(332, 51%, 32%);
    padding: 10px;
    margin-top: 0.1cm;
}

.tempo-de-preparo{
    background-color: hsl(332, 79%, 96%);
    border-radius: 10px;
    margin-top: 0.1cm;
    padding: 2px;
}

.box-ao-redor{
    opacity: 100%;
    border-radius: 10px;
    max-width: 900px;
    padding: 50px;
    margin-inline: auto;
    background-color: #ffffff;
    z-index: -1;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

ul, ol{
    padding-left: 40px;
}

li{
    margin-top: 20px;
}

.preparo{
    border-top: 1px solid hsl(30, 18%, 87%);
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.tabela-nutricional{
    margin-top: 5px;
}

.tabela-nutricional ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 7px 0px;
}

.resultado-nutricional{
    color: hsl(14, 45%, 36%);
}